# Environnements virtuels
venv/
env/
.venv/
.env/

# Variables d'environnement (contient des secrets)
.env

# Fichiers de test
test_*.py
*.spec.py
__pycache__/
*.pyc
*.pyo
*.pyd

# Fichiers de logs et outputs
*.log
*.out
*.tmp
Start_venv

# Jetons ou fichiers sensibles
*.token
*.secret

# Dépendances installées localement
*.egg-info/
dist/
build/

# Configuration de l’éditeur
.vscode/
.idea/
*.swp

# Base de données
*.db
